.lpanel{min-height: 450px;}
.rpanel{min-height: 450px;}
.sidebar{
margin: 0 15px 10px 15px;
padding: 0;

}
.caps{
text-align: center;
background: #000;
color: #ddd;
font-size: 16pt;
}
.caps>span{
    font-weight: 600;
}
.sidebar>ul{
display: block;
padding: 10px;
}
.sidebar>ul>li{
text-align: center;
padding:10px;
cursor:pointer;    
}
.sidebar>ul>li.active2{
background: #999;
color:#fff;
}
.sidebar>ul>li:hover{
background: #ddd;
}
.btn.new{
width:100%;
}
/*background: #5bc0de;*/
.ngfrm{
display:none;
position: absolute;
z-index: 99;
background: #fff;
top: 150px;
left: 400px;
}
.npfrm{
display:none;
position: absolute;
z-index: 99;
background: #fff;
top: 150px;
left: 400px;
}
.frm_str{
margin: 5px auto;
}
.frm_str>span{
    display:block;
}
.frm_str>input{
display: block;
width: 320px;
}
.frm_str>textarea{
display: block;
width: 320px;
}
.frm{
margin-left: 10px;
width: 150px;
}